<footer class="footer">
    <hr>
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column is-two-fifths">
                <h1><a href="" style="color: #48C78E;"><b>STORE VPS</b></a></h1>
            </div>
            <div class="column content is-normal">
                <h2>Liên hệ</h2>
                <ul style="list-style: none;">
                    <li>Facebook: <a href="https://www.facebook.com/nguyen.dc.969">DC Nguyên</a></li>
                    <li>SĐT: <a href="tel:0365656809">0365656809</a></li>
                    <li>Facebook: <a href="https://www.facebook.com/boo.NTVT.01/">Thuận Nguyễn</a></li>
                    <li>SĐT: <a href="tel:0866088342">0866088342</a></li>

                    <li>Main: <a href="">bothuan24680@gmail.com</a></li>
                </ul>
            </div>
            <div class="column content is-normal">
                <h2>Mục khác</h2>
                <ul style="list-style: none;">
                    <li><a href="">Tài liệu</a></li>
                    <li><a href="">Hướng dẫn</a></li>
                    <li><a href="">Quản trị</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>