<div class="columns ">
    <div class="column is-3">
        <aside class="menu">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="/client/mua-vps">Mua VPS</a></li>
                <li><a>Mua Proxy</a></li>
                <li><a>Mua Account</a></li>
            </ul>
            <p class="menu-label">
                Quản lý
            </p>
            <ul class="menu-list">
                <li>
                    <a>Dịch vụ đã mua</a>
                    <ul>
                        <li><a>Đang sử dụng</a></li>
                        <li><a>Đã hết hạn</a></li>
                        <li><a>Danh sách dịch vụ - Tất cả</a></li>
                    </ul>
                </li>
            </ul>
            <p class="menu-label">
                Nạp tiền vào tài khoản
            </p>
            <ul class="menu-list">
                <li><a>Nạp tiền</a></li>
                <li><a>Hoàn tiền</a></li>
            </ul>
            <p class="menu-label">
                Tài khoản
            </p>
            <ul class="menu-list">
                <li><a>Đổi mật khẩu</a></li>
                <li><a>Cập nhập</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-12" style="outline: gray solid 0.01px; border-radius: 5px;box-shadow: 5px 5px;">
        <div class="content">
            {{title}}
            {{message}}
            {{{partialView}}}
        </div>
    </div>
</div>