<div class="content">
    <h1><a href="" style="color: #48C78E;"><b>STORE VPS</b></a></h1>
    <p>Chào mừng bạn đến với Store VPS. Đây là nơi cung cấp các dịch vụ VPS, Proxy, Account với giá cả phải
        chăng và chất lượng tốt nhất. Hãy đăng ký ngay hôm nay để nhận được nhiều ưu đãi nhất.</p>
    <p>Chúng tôi luôn sẵn sàng hỗ trợ bạn 24/7. Hãy liên hệ với chúng tôi qua các kênh sau:</p>
    <div class="columns">
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-1/314718468_1362169691190096_3993334553910304691_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&cb=99be929b-59f725be&ccb=1-7&_nc_sid=7206a8&_nc_ohc=YP89fP3OWOoAX98Am6J&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfC3rBHrhvmyrahVKwCf49hK8vB6BPziT7_ICtQFERn9zg&oe=649D14E6"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">DC Nguyên</p>
                            <p class="subtitle is-6">@NguyenDC</p>
                            <p class="subtitle is-6">Phone: <a href="tel:0365656809">0365.656.809</a></p>
                            <p class="subtitle is-6">Email:
                                <a href="mailto:<EMAIL>" target="_blank">

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/350337538_1298299167783114_7933995104518015640_n.jpg?_nc_cat=100&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hiS8zeB4CMEAX_yZ1zu&_nc_ht=scontent.fsgn5-5.fna&oh=00_AfAuWNM5zJiJaVDvwUd1j_nyQ4BgGDe9jfew8SpuMBD0mQ&oe=649DB9EE"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Thuận Nguyễn</p>
                            <p class="subtitle is-6">@ThuanNguyen</p>
                            <p class="subtitle is-6">Phone: <a href="tel:0866088342">0866.088.342</a></p>
                            <p class="subtitle is-6">Email:
                                <a href="mailto:bothuan24680@gmail.com" target="_blank">
                                    bothuan24680@gmail.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>